html, body {
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 10px;
    background-color: #4f588b;
  }
  
  body {
    width: 90%;
    margin: 0 auto;
  }
  
  h1, h2, h3 {
    font-family: 'Arial';
  }
  
  p, textarea, input, li {
    font-family: 'Verdana', serif;
    color: #2a2a2a;
  }

  .letra {
    font-family: 'Verdana', serif;
    color: #2a2a2a;
    font-size: 1.5rem;
  }
  
  h1 {
    font-size: 4rem;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 10px black;
  }
  
  h2 {
    font-size: 3rem;
    text-align: center;
    color: #2a2a2a;
  }
  
  h3 {
    font-size: 2.2rem;
    color:rgb(11, 11, 138);
  }

  span{
    font-size: 1.3rem;
    color: rgb(255, 16, 16);
    font-weight: bold;
  }
  
  p, li {
    font-size: 1.6rem;
    line-height: 1.5;
  }
  
  /* estilo cabeçalho */
  
  nav, article, aside, footer {
    background-color: rgb(169, 227, 231);
    padding: 1%;
  }
  
  nav {
    height: 50px;
    background-color: #a6b9c5;
    display: flex;
    margin-bottom: 10px;
  }
  
  nav ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
  }
  
  nav li {
    display: inline;
    text-align: center;
    flex: 1;
  }
  
  nav ul li:hover {
    background-color: rgb(241, 248, 143);
  }
  
  nav a {
    display: inline-block;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
  }
  
  nav form {
    flex: 1;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 2em;
  }
  
  input {
    font-size: 1.6rem;
    height: 32px;
  }
  
  input[type="search"] {
    flex: 3;
  }
  
  input[type="submit"] {
    flex: 1;
    margin-left: 1rem;
    background: #333;
    border: 0;
    color: white;
  }
  
  /* estilo parte principal */
  
  main {
    display: flex;
  }
  
  article {
    flex: 4;
    height:auto;
  }
  
  input[type="text"] {
    padding: 5px;
    width: 400px;
    border-width: 1px;
    border-color: darkblue;
  }
  
  input[type="email"] {
    padding: 5px;
    width: 400px;
    border-width: 1px;
    border-color: darkblue;
  }

  input[type="url"] {
    padding: 5px;
    width: 400px;
    border-width: 1px;
    border-color: darkblue;
  }

  input[type="password"] {
    padding: 5px;
    width: 400px;
    border-width: 1px;
    border-color: darkblue;
  }

  .camposCadastro {
    padding: 5px;
    width: 400px;
    border-width: 1px;
    border-color: darkblue;
  }
  
  textarea {
    font-size: 1.2rem;
    resize: none;
    border-width: 1px;
    border-color: darkblue;
  }
  
  label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    margin-right: 15px;
  }
  
  footer {
    margin-top: 10px;
  }

  /* página de cadastro, login e sugestões */

  #centralizar{
    text-align: center;
  }

  /* alinhar campos de cadastrar local */

  .alinhar{
    margin-left: 23px;
  }


 