<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">

    <title>Galeria de fotos</title>
    <link rel="stylesheet" href="/style.css">
    

  </head>

  <body>

    <header>
      <h1>Locais esportivos em Campinas</h1>
    </header>

    <nav>
      <ul>
        <li><a href="/">Início</a></li>
        <li><a href="/galeriafotos"><b>Fotos</b></a></li>
        <li><a href="/sugestoes">Sugestões</a></li>
        <li><a href="/cadastro">Cadastro</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </nav>

    <main>

      <article>
        <h2>Galeria de fotos dos Locais esportivos</h2>
        <br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br>
      </article>

      <aside>
 
      </aside>

    </main>

    <footer>
      <p><b>Desenvolvido por Guilherme Moro, Gustavo Oliveira, Vinicius Augusto e Thiago Meneses<br><br></b></p>
    </footer>

  </body>
</html>