<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">

    <title>Login</title>
    <link rel="stylesheet" href="/style.css">


    <style>
    #partelogin{
        text-align: center;
    }
    </style>
    
</head>

  <body>

    <header>
      <h1>Locais esportivos em Campinas</h1>
    </header>

    <nav>
        <ul>
            <li><a href="/">Início</a></li>
            <li><a href="/galeriafotos">Fotos</a></li>
            <li><a href="/sugestoes">Sugestões</a></li>
            <li><a href="/cadastro">Cadastro</a></li>
            <li><a href="/login"><b>Login</b></a></li>
        </ul>

    </nav>

    <main>

      <article>
        <h2>Login</h2>
        
        <div id="partelogin">

        <form>
        
        <label for="emailLoginId"><b>Email:</b></label>
        <input type="email" id="emailLoginId" placeholder="example@gmail.com" required><br><br>
        <label for="senhaLoginId"><b>Senha:</b></label>
        <input type="password" id="senhaLoginId" placeholder="senha" required><br><br>
        

        <br><br>
        <input type="submit" onClick="" value="Logar"> 
        </div>

        </form> 
      </article>

    </main>

    <footer>
      <p><b>Desenvolvido por Guilherme Moro, Gustavo Oliveira, Vinicius Augusto e Thiago Meneses</b></p>
    </footer>

  </body>
</html>