<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">

    <title>Sugestões</title>
    <link rel="stylesheet" href="/style.css">

    <style>
    #partecontato{
        text-align: center;
    }
    </style>
    
</head>

  <body>

    <header>
      <h1>Locais esportivos em Campinas</h1>
    </header>

    <nav>
        <ul>
            <li><a href="/">Início</a></li>
            <li><a href="/galeriafotos">Fotos</a></li>
            <li><a href="/sugestoes"><b>Sugestões</b></a></li>
            <li><a href="/cadastro">Cadastro</a></li>
            <li><a href="/login">Login</a></li>
        </ul>

    </nav>

    <main>

      <article>
        <h2>Sugestões</h2>
        
        <div id="partecontato">

        <form>

        <label for="nomeId"><b>Nome:</b></label>
        <input type="text" name="nome" id="nomeId" placeholder="nome" required><br><br>
        <label for="emailId"><b>Email:</b></label>
        <input type="email" name="replyto" id="emailId" placeholder="example@gmail.com" required><br><br>
        <label for="comentarioId"><b>Texto:</b></label>
        <textarea rows="8" cols="54" name="comentario" id="comentarioId" placeholder="Escreva as suas sugestões aqui..." required></textarea>

        <br><br>
        <input type="submit" name="btEnviar" value="Enviar"> 
        </div>

        </form> 
      </article>

    </main>

    <footer>
      <p><b>Desenvolvido por Guilherme Moro, Gustavo Oliveira, Vinicius Augusto e Thiago Meneses<br><br></b></p>
    </footer>

  </body>
</html>